<div class="todo-container">
  <!-- Header -->
  <div class="header" role="banner">
    <span>ToDo list </span>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <div class="side-item">
        <mat-icon aria-hidden="false" aria-label="Home icon">assignment</mat-icon><br />
        Tasks
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title>All Tasks</mat-card-title>
          <mat-icon class="icon" matTooltip="Add new task" color="primary" (click)="adNewTask()">add_circle</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <div>
            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
              [footerHeight]="50" rowHeight="auto" [rows]="tasks">
              <ngx-datatable-column name="Id">
                <ng-template ngx-datatable-cell-template let-value="value">
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Title">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-title'] = true"
                    *ngIf="!editing[rowIndex + '-title']">
                    {{ value }}
                  </span>
                  <input autofocus *ngIf="editing[rowIndex + '-title']" type="text" [value]="value"
                    (change)="editing[rowIndex + '-title'] = title.value" #title />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Description">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                  <span title="Double click to edit" (dblclick)="editing[rowIndex + '-description'] = true"
                    *ngIf="!editing[rowIndex + '-description']">
                    {{ value }}
                  </span>
                  <input autofocus *ngIf="editing[rowIndex + '-description']" type="text" [value]="value"
                    (change)="editing[rowIndex + '-description'] = desc.value" #desc />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                  <mat-icon class="icon edit-icon" color="primary" (click)="updateValue(rowIndex)">edit</mat-icon>
                  <mat-icon class="icon" color="warn" (click)="deleteTask(rowIndex)">delete</mat-icon>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Footer -->
  <footer class="footer">
    FOOTER SHOULD BE HERE
  </footer>

</div>
